In [7]:
#import libraries 
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [16]:
# read csv
movie_data = pd.read_csv(r'C:/Users/Melaney/Desktop/Movies_Analysis/cleaned_movies.csv', low_memory=False)

In [17]:
movie_data.head(5)

,Unnamed: 0,id,title,budget,revenue,genres,original_language,popularity,production_companies,production_countries,release_date,runtime,status,tagline,vote_average,vote_count
0,0,862,Toy Story,30000000,373554033.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",10/30/1995,81.0,Released,NaN,7.7,5415.0
1,1,8844,Jumanji,65000000,262797249.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/15/1995,104.0,Released,Roll the dice and unleash the excitement!,6.9,2413.0
2,2,15602,Grumpier Old Men,0,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,6.5,92.0
3,3,31357,Waiting to Exhale,16000000,81452156.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,127.0,Released,Friends are the people who let you be yourself...,6.1,34.0
4,4,11862,Father of the Bride Part II,0,76578911.0,"[{'id': 35, 'name': 'Comedy'}]",en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/10/1995,106.0,Released,Just When His World Is Back To Normal... He's ...,5.7,173.0

In [21]:
#drop 'unnamed column'
movie_data = movie_data.drop(movie_data.columns[0], axis=1)

In [30]:
movie_data['budget'].fillna(0, inplace=True)

In [31]:
movie_data.head(5)

,id,title,budget,revenue,genres,original_language,popularity,production_companies,production_countries,release_date,runtime,status,tagline,vote_average,vote_count
0,862,Toy Story,30000000,373554033.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",10/30/1995,81.0,Released,NaN,7.7,5415.0
1,8844,Jumanji,65000000,262797249.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/15/1995,104.0,Released,Roll the dice and unleash the excitement!,6.9,2413.0
2,15602,Grumpier Old Men,0,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,6.5,92.0
3,31357,Waiting to Exhale,16000000,81452156.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,127.0,Released,Friends are the people who let you be yourself...,6.1,34.0
4,11862,Father of the Bride Part II,0,76578911.0,"[{'id': 35, 'name': 'Comedy'}]",en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/10/1995,106.0,Released,Just When His World Is Back To Normal... He's ...,5.7,173.0

In [32]:
#define x & y values 
x = movie_data[['budget']]
y = movie_data[['vote_average']]

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [34]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)

ValueError: could not convert string to float: '/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg'