In [29]:
#import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [42]:
# read csv
movie_data = pd.read_csv(r'C:/Users/Melaney/Desktop/Movies_Analysis/Clean_Final_Data.csv', low_memory=False)

In [43]:
movie_data.head(5)

,Id,Title,Budget,Revenue,Original Language,Popularity,Production Countries,Production Companies,Genre 1,Genre 2,...,Status,Tagline,Vote Average,Vote Count,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,862,Toy Story,30000000.0,373554033.0,en,21.946943,United States of America,Pixar Animation Studios,Animation,Comedy,...,Released,NaN,7.7,5415,NaN,NaN,NaN,NaN,NaN,NaN
1,8844,Jumanji,65000000.0,262797249.0,en,17.015539,United States of America,TriStar Pictures,Adventure,Fantasy,...,Released,Roll the dice and unleash the excitement!,6.9,2413,NaN,NaN,NaN,NaN,NaN,NaN
2,31357,Waiting to Exhale,16000000.0,81452156.0,en,3.859495,United States of America,Twentieth Century Fox Film Corporation,Comedy,Drama,...,Released,Friends are the people who let you be yourself...,6.1,34,NaN,NaN,NaN,NaN,NaN,NaN
3,949,Heat,60000000.0,187436818.0,en,17.924927,United States of America,Regency Enterprises,Action,Crime,...,Released,A Los Angeles Crime Saga,7.7,1886,NaN,NaN,NaN,NaN,NaN,NaN
4,9091,Sudden Death,35000000.0,64350171.0,en,5.231580,United States of America,Universal Pictures,Action,Adventure,...,Released,Terror goes into overtime.,5.5,174,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
movie_data.columns

Index(['Id', 'Title', ' Budget ', ' Revenue ', 'Original Language',
       'Popularity', 'Production Countries', 'Production Companies', 'Genre 1',
       'Genre 2', 'Genre 3', 'Genre 4', 'Release Date', 'Runtime', 'Status',
       'Tagline', 'Vote Average', 'Vote Count', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [45]:
#change budget column to a numeric value
movie_data[[" Budget ", " Revenue "]] = movie_data[[" Budget ", " Revenue "]].apply(pd.to_numeric)

In [52]:
#define x & y values 
x = movie_data[[' Budget ']]
y = movie_data[['Vote Average']]

In [53]:
#Split the data into Training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [54]:
#train the model
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [49]:
x.shape

(5381,)

In [51]:
x_train.shape

(4304,)

In [55]:
y_pred = model.predict(x_test)

In [56]:
print(y_pred)

[[6.27933754]
 [6.28324158]
 [6.2796164 ]
 ...
 [6.28184728]
 [6.28435702]
 [6.27487578]]

In [58]:
from sklearn import metrics

In [60]:
y_true = y_test
y_pred = model.predict(x_test)
print(metrics.mean_squared_error(y_true, y_pred))

0.7942872851336006