In [3]:
#import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
# read csv
movie_data = pd.read_csv(r'C:/Users/Melaney/Desktop/Movies_Analysis/Clean_Final_Data.csv', low_memory=False)

In [5]:
movie_data.head(5)

,Unnamed: 0,Id,Title,Budget,Revenue,Original Language,Popularity,Production Countries,Production Companies,Genre 1,Genre 2,Genre 3,Genre 4,Release Date,Runtime,Status,Tagline,Vote Average,Vote Count
0,0,862,Toy Story,30000000.0,373554033.0,en,21.946943,United States of America,Pixar Animation Studios,Animation,Comedy,Family,NaN,10/30/1995,81.0,Released,NaN,7.7,5415
1,1,8844,Jumanji,65000000.0,262797249.0,en,17.015539,United States of America,TriStar Pictures,Adventure,Fantasy,Family,NaN,12/15/1995,104.0,Released,Roll the dice and unleash the excitement!,6.9,2413
2,2,31357,Waiting to Exhale,16000000.0,81452156.0,en,3.859495,United States of America,Twentieth Century Fox Film Corporation,Comedy,Drama,Romance,NaN,12/22/1995,127.0,Released,Friends are the people who let you be yourself...,6.1,34
3,3,949,Heat,60000000.0,187436818.0,en,17.924927,United States of America,Regency Enterprises,Action,Crime,Drama,Thriller,12/15/1995,170.0,Released,A Los Angeles Crime Saga,7.7,1886
4,4,9091,Sudden Death,35000000.0,64350171.0,en,5.231580,United States of America,Universal Pictures,Action,Adventure,Thriller,NaN,12/22/1995,106.0,Released,Terror goes into overtime.,5.5,174

In [6]:
movie_data.columns

Index(['Unnamed: 0', 'Id', 'Title', ' Budget ', ' Revenue ',
       'Original Language', 'Popularity', 'Production Countries',
       'Production Companies', 'Genre 1', 'Genre 2', 'Genre 3', 'Genre 4',
       'Release Date', 'Runtime', 'Status', 'Tagline', 'Vote Average',
       'Vote Count'],
      dtype='object')

In [7]:
#change budget column to a numeric value
movie_data[[" Budget ", " Revenue "]] = movie_data[[" Budget ", " Revenue "]].apply(pd.to_numeric)

In [8]:
#define x & y values 
x = movie_data[[' Budget ']]
y = movie_data[['Vote Average']]

In [9]:
#Split the data into Training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [10]:
#train the model
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [11]:
x.shape

(5381, 1)

In [12]:
x_train.shape

(4304, 1)

In [13]:
y_pred = model.predict(x_test)

In [14]:
print(y_pred)

[[6.26834665]
 [6.26889692]
 [6.2707434 ]
 ...
 [6.26849339]
 [6.26952057]
 [6.26952057]]

In [15]:
from sklearn import metrics

In [16]:
#prediction accuracy 
y_true = y_test
y_pred = model.predict(x_test)
print(metrics.mean_squared_error(y_true, y_pred))

0.8169133854692298

In [20]:
#using the data to make a prediction 
budget_example = 30000000
rating_prediction =  model.predict([[budget_example]])
print("Predicted rating for a budget of", budget_example, "is", rating_prediction[0][0])

Predicted rating for a budget of 30000000 is 6.269765131482554

C:\Users\Melaney\anaconda3\envs\PythonData\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"